/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}

header {
    width: 100vw;
    position: fixed; 
    z-index: 1;  
}

footer {
    background-color: black;
    color: white;
    padding: 5%;
    width: 100vw;
}

.bodyIndex {
    display: grid;
    width: 100vw;
    grid-template-rows: 0.1fr 4fr 0.9fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-gap: 5rem;
}

.headerIndex {
    grid-area: header;
}


.mainIndex {
    grid-area: main;
}

.footerIndex {
    grid-area: footer;
}

.titleMain-index{
    text-align: center;
    margin: auto auto 4rem auto;
    color: #8dc7e9;
}

.containerDestacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxDestacados img {
    height: 14rem;
    width: 12rem;
    border: 1px solid black;
}

.boxDestacados {
    width: 12rem;
    margin: 5% auto 5% auto;
}

.textBox {
    border: 1px solid black;
    width: 8rem;
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textBox input {
    background-color: rgb(0, 132, 255);
    border: 1px solid black;
    border-radius: 10%;
    width: 5rem;
    height: 2rem;
    color: white;
}

.titleBox {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.newin-index {
    text-align: center;
    margin: 8rem auto 4rem auto;
    
}

.newin-index h2 a {
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    font-weight: bold;
    color: #8dc7e9;
}

.anchorIndex-top {
    display: flex;
    justify-content: center;
}

.anchorIndex-bottom {
    display: flex;
    justify-content: center;
}

section img {
    height: 12rem;
    width: 9rem;
    border: 1px solid black;
}

section a {
    text-decoration: none;
}

section p {
    background-color: black;
    border: 1px solid black;
    width: 9rem;
    text-align: center;
    font-weight: bold;
    color: #8dc7e9;
}

/* .footerIndex {
    background-color: black;
    color: white;
    padding: 5%;
} */

.footerTop-index {
    text-align: center;
    margin: auto 1rem auto 1rem;
}

.footerBottom-index {
    margin-top: 2rem;
}

.input-mail {
    width: 80vw;
}

.input-sus {
    background-color: rgb(0, 132, 255);
    border: 1px solid black;
    border-radius: 10%;
    width: 10rem;
    height: 2rem;
    color: white;
}

.bodyRemera {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.titleRemeras {
    margin: 8rem auto 4rem auto;
    color: #8dc7e9;
}

.card {
    background-color: black;
    color: white;
    text-align: center;
}

span {
    color: #8dc7e9;
    font-weight: bold;
}

.product {
    display: flex;
    justify-content: center;
    margin: 5% auto 5% auto;
}

.footerRemeras {
    background-color: black;
    color: white;
    padding: 5%;
}


.subFooter-remeras {
    color: #8dc7e9;
}

.footerImg img {
    width: 50px;
    height: 50px;
}

.bodyTops {
    display: grid;
    grid-template-rows: 0.1fr 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-gap: 5rem;
    width: 100vw;
}

.headerTops {
   grid-area: header; 
}

.mainTops {
  grid-area: main;  
}

.footerTops {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 5%;
}

@media screen and (min-width:600px) {

    .bodyIndex {
        grid-template-rows: 0.1fr 3fr 0.9fr;;
    }

    .containerDestacados {
        flex-direction: row;
    }

    .textDestacados {
        height: ;
    }

    section img {
        width: 15rem;
        height: 15rem;
    }

    section p {
        width: 14rem;
        margin-top: 1.5rem;
    }

   .acnhor-index {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .footerImg {
       display: flex;
       justify-content: center;
   }

   
}

@media screen and (min-width:992px) {

    .bodyIndex {
        grid-template-rows: 0.1fr 4.5fr 1fr;
    }

    .boxDestacados img {
        width: 14rem;
        height: 18rem;
    }

    .textDestacados {
        width: 14rem;
    }

    section img {
        width: 20rem;
        height: 20rem;
    }

    section p {
        width: 19rem;
    }


}


