* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #8dc7e9; */ }

body {
  background-image: url(../img/fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white; }

header {
  width: 100vw;
  grid-area: header;
  position: fixed;
  z-index: 1;
  background-color: black; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  grid-area: footer;
  background-color: black;
  color: white; }
  footer img {
    width: 50px;
    height: 50px; }

.footerTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3% auto 15% auto; }
  .footerTop h2 {
    color: #8dc7e9; }
  .footerTop form label {
    display: flex;
    justify-content: center; }
    .footerTop form label input {
      width: 20rem; }

.botonSus {
  background-color: #0084ff;
  border: 1px solid black;
  border-radius: 10%;
  width: 5rem;
  height: 2em;
  color: white; }

.footerBottom p {
  margin-left: 1rem;
  width: 80vw; }

.imgFooter {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

/* estilos de Index */
.bodyIndex {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
  grid-gap: 4rem; }

.headerIndex {
  grid-area: header; }

.mainIndex {
  grid-area: main;
  display: flex;
  flex-direction: column; }

.footerIndex {
  grid-area: footer; }

/* estilos de main - index */
.titleMain {
  text-align: center;
  margin: 4rem auto 4rem auto; }

h1 {
  font-weight: bold; }

.containerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.boxDestacados {
  text-align: center;
  margin: auto 0.5rem 2rem 0.5rem; }
  .boxDestacados img {
    width: 9rem;
    height: 12rem;
    border: 2px solid black; }
  .boxDestacados form input {
    color: black; }
