/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /*color: #2c81b2;*/
    color: #8dc7e9;
}

/* estilos de body de index */

/* body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 2.2fr 1fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
} */

/*  estilos de header general */

.navbar-toggler-icon {
    color: aqua;
}

/* header {
    width: 100%;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: black; */
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #8dc7e9;
    background-image: linear-gradient(to left, black, rgb(34, 34, 37));
} */

.menuIcon {
    height: 2rem;
    width: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #8dc7e9;
}

header nav ul li {
    list-style-type: none;
}

.menuHeader ul {
    display: none;
}

.menuHeader input {
    display: none;
}

.menuHeader input:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    height: 50%;
    width: 50%;
    border-top: 1px solid #8dc7e9;
}

.menuHeader input:checked ~ ul li {
    border-bottom: 1px solid #8dc7e9;
    background-color: black;
}

.menuHeader input:checked ~ ul li:hover {
    background-color: rgb(34, 34, 37);
}

/* estilos de main de index */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.titleMain-index {
    text-align: center;
    margin-bottom: 2rem;
}

.dataDestacados-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.boxDestacados {
    text-align: center;
    /*padding: 10%;*/
    width: 130px;
    margin-bottom: 5%;
}

.boxDestacados form input {
    background-color: black;
}


.boxDestacados img {
    width: 120px;
    height: 180px;
    border: 2px solid black;
}

.newin-index {
    text-align: center;
    margin: 10%;
    font-weight: bold;
}

.newin-index a{
    text-decoration: none;
    border: 4px solid rgba(0, 0, 0, 0.966);
    /*background-color: rgb(0, 0, 0);*/
    box-shadow: 2px 2px 3px  rgb(14, 13, 13);
    animation-name: blackBackground;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes blackBackground {
    50% { background-image: linear-gradient(to left, black, rgb(34, 34, 37));}
}

.anchor-index-top {
    display: flex;
    justify-content: space-evenly;
}

.anchor-index-bottom {
    display: flex;
    justify-content: space-evenly;
}

.anchor-index a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.anchor-index a p {
    /* background-color: black; */
    border: 3px solid black ;
    box-shadow: 2px 2px 3px  rgb(14, 13, 13);
    /*border-radius: 50%;*/
    margin: 4%;
    animation-name: blackBackground;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.anchor-index a img:hover {
    filter: brightness(50%);
}

.anchor-index a img{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
}

/* estilos de footer general */

footer {
    margin-top: 20%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    border-top: 1px solid #8dc7e9;
    background-image: linear-gradient(to left, black, rgb(34, 34, 37));
}

footer img {
    width: 50px;
    height: 50px;    
}

.footerTop-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% auto 15% auto;
}

.footerTop-index label {
    display: flex;
    width: 100%;
}

.footerTop-index label input {
    width: 20rem;
    color: black;
}

.img-footer-index {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}



.bodyData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 3fr 0.9fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* estilos de calzas */

.mainData {
    grid-area: main;
}

.footerData {
    grid-area: footer;
}

.titleMain-data {
    text-align: center;
    margin-bottom: 10%;
}

/* estilos de etiquetas compartidaas por calzas - abrigos - remeras - tops - newin */

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    text-align: center;
    margin-bottom: 5%;    
}

.box input {
    /* background-color: black; */
    background-image: linear-gradient(to left, black, rgb(34, 34, 37));
}

.box select {
    /* background-color: black; */
    background-image: linear-gradient(to left, black, rgb(34, 34, 37));
}

.box p {
    width: 120px;
}

.box p span {
    font-weight: bold;
}

.box img {
    width: 120px;
    height: 180px;
    border: 2px solid black;
}

/* estilos de remeras */

/* .bodyRemeras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.39fr auto 1fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.mainRemeras {
    grid-area: main;
}

.footerRemeras {
    grid-area: footer; 
}*/

/* estilos de abrigos */

.bodyAbrigos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.35fr auto 1fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.mainAbrigos {
    grid-area: main;
}

.footerAbrigos {
    grid-area: footer;
}

.h3 {
    text-align: center;
    margin: 8%;
}

.titleMain-abrigos {
    text-align: center;
    margin: 10%;
}

/* estilos de contacto */

.bodyContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr auto 1.1fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}

.titleMain-contacto {
    text-align: center;
}

.p-contacto {
    text-align: center;
    margin: 10%;
}

.dataContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10%;
    padding: 20%;
    /* background-color: black; */
    border: 2px solid #8dc7e9;
    background-image: linear-gradient(to left, black, rgb(34, 34, 37));
}

.boxContacto {
    width: 10rem;
    margin-bottom: 4rem;
}

.boxContacto p span {
    font-weight: bold;
}

.boxContacto p span a {
    text-decoration: none;
}

/* estilos de newin */

.bodyNewin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr auto 1.1fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
}

.titleMain-newin {
    text-align: center;
}

/* estilos para tablet */

@media screen and (min-width:600px) {
    
    /* mq de index */
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.6fr auto 0.3fr;
        grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer";
    }

    .titleMain-index {
        margin-bottom: 4rem;
    }

    .boxDestacados img {
        width: 150px;
        height: 220px;
    }

    .anchor-index a img{
        width: 250px;
        height: 250px;
        border-radius: 0%;
    }

    .footerTop-index {
        
        margin-bottom: 5%;
    }

    /* estilos de tags compartidos por calzas - remeras - tops - abrigos - newin */

    .box {
        margin: 2%;
    }

    .box img {
        width: 150px;
        height: 220px;
    }    
}

/* estilos para deskpot */

@media screen and (min-width:992px){

    /* mq de body */
    
    .boxDestacados img {
        width: 260px;
        height: 320px;
    }

    .boxDestacados {
        width: auto;
    }

    .anchor-index a img{
        width: 400px;
        height: 400px;
        border-radius: 0%;
    }

    .anchor-index-top {
        justify-content: center;
    }

    .anchor-index-bottom {
        justify-content: center;
    }

    .footerBottom-index p {
        width: 80%;
        margin-left: 2%;
    }

    /* mq de tags compartidos por calzas - remeras - tops - abrigos - newin */

    .box img {
        width: 260px;
        height: 320px;
    }

    .box p {
        width: auto;
    }

    /* mq de contacto */

    .dataContacto {
        flex-direction: row;
        margin: 10%;
        padding: 5rem;
    }

    .boxContacto {
        margin: 2rem;
        width: auto;
    }
}