@import "base/vars";
@import "base/mixins";
@import "base/extends";

//  reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #8dc7e9; */
}

// estilos de body
body {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: $c1;   
}

// estilos de header
header {
    width: 100vw;
    grid-area: header;
    position: fixed;
    z-index: 2;
    background-color: $c4;
}

.menuHeader {
    margin-top: 0.5rem;

    :hover {
        // border-top: 1px solid $c2;
        // border-bottom: 1px solid $c2;
        background-color: $c1;
        width: 90vw;
    }
}

// estilos de footer
footer {
    @extend %flexCol;
    margin-top: 20%;
    grid-area: footer;
    background-color: $c4;
    color: $c2;   

    img {
        @include sizes1 (50px, 50px);  
    }

}

.footerTop {
    @extend %flexCol;
    align-items: center;
    text-align: center;
    margin: 3% auto 15% auto;

    h2 {
        color: $c1;
    }

    form {
        label {
            @extend %flexRow;
            
            input {
                width: 20rem;
            }
        }
    }
}

.botonSus {
    background-color: $c3;
    @extend %borderButton;
    @include sizes1 (5rem, 2em);
    color: $c2;
}

.footerBottom {
    p {
        margin-left: 1rem;
        width: $fullw - 20vw;
    }
}

.imgFooter {
    margin-top: 2rem;
    @extend %flexRow;
}

/* estilos de Index */
.bodyIndex {
    @extend %grid1;
}

.headerIndex {
    grid-area: header;
}

.mainIndex {
    grid-area: main;
    @include flex (flex, column);
}

.footerIndex {
    grid-area: footer;
}

/* estilos de main - index */

.portada {
    width: 100vw;
    @extend %flexRow;
}

.portadaDesk {
    display: none;
}

.portadaTab {
    display: none;
}

.portadaMob {
    @include sizes1(100%, 70%);
    margin: 3rem 3% auto 3%;
    filter: brightness(80%);
}

.titleMain-index {
    text-align: center;
     margin: 2rem auto 4rem auto;    
}

.titleMain {
    text-align: center;
    margin: 4rem auto 4rem auto;
}

h1 {
    font-weight: bold;
    border-top: 1px solid $c1;
    border-bottom: 1px solid $c1;
}

.containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.containerCarousel {
    @include flex (flex, column);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.imgcarousel {
    @include sizes1 (30vw, 30vh);
}

.boxCarousel {
    text-align: center;
    margin: auto 0.5rem 2rem 0.5rem;

    img {
        @include sizes1 (13rem, 13rem);
        border: 2px solid $c4;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    form {
        input {
            color: $c4;
        }
    }
}

.textCarousel {
    @extend %flexCol;
    @include sizes1 (13rem, 11rem);
    border: $border1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $c4;
    color: $c2;
    text-align: center;

    form {
        input {
            background-color: $c3;
            @extend %borderButton;
            @include sizes1 (5rem, 2rem);
            color: $c2;
        }
    }
}

.boxDestacados {
    text-align: center;
    margin: auto 0.5rem 2rem 0.5rem;

    img {
        @extend %sizes2;
        border: 2px solid $c4;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    form {
        input {
            color: $c4;
        }
    }
}

.textBox {
    @extend %flexCol;
    @extend %sizes2;
    border: $border1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $c4;
    color: $c2;
    text-align: center;

    form {
        input {
            background-color: $c3;
            @extend %borderButton;
            @include sizes1 (5rem, 2rem);
            color: $c2;
        }
    }
}

.titleBox {
    font-size: 1.2rem;
    font-weight: bold;
    @extend %flexRow;
    text-align: center;
    color: $c2;
}

.newinh2 {
    text-align: center;
    margin: 6rem auto 2rem auto;
    font-weight: bold;

    a {
        text-decoration: none;
        border: 4px solid rgba(0, 0, 0, 0.966);
        background-color: $c4;
        box-shadow: $shadow;
        color: $c1;
    }

    a:hover {
        color: $c2;
    }
}

.anchor {
    a{
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: $c1;

        p {
            border: $border1;
            box-shadow: $shadow;
            text-align: center;
            margin: auto 0.1rem auto 0.1rem;
            background-color: $c4;
        }

        img {
            @include sizes1 (8rem, 8rem);
            border: $border1;
        }

        img:hover {
            filter: brightness(50%);
        }
    }    
}

.anchorTop {
    @extend %flexRow;
}

.anchorBottom {
    @extend %flexRow; 
}

// estilo de calzas
.bodyCalzas {
    @extend %grid1;
}

.headerCalzas {
    grid-area: header;
}

.mainCalzas {
    grid-area: main;
}

.footerCalzas {
    grid-area: footer;
}

// estilos de tops
.bodyTops {
    @extend %grid1;
}

.headerTops {
    grid-area: header;
}

.mainTops {
    grid-area: main;
}

.footerTops {
    grid-area: footer;
}

// estilo de contacto
.bodyContacto {
    @extend %grid1;
}

.headerContacto {
    grid-area: header;
}

.mainContacto {
    grid-area: main;
}

.footerContacto {
    grid-area: footer;
}

.textMain {
    color: $c1;
    text-align: center;
    margin: auto 1rem 4rem 1rem;
}

.textBox-contacto {
    border: $border1;
    @include sizes1 (9rem, 15rem);
    padding: 1rem;
    background-color: $c4;
    color: $c2;
    @extend %flexCol;
    align-items: center;
    text-align: center;
    margin: 1rem auto 1rem auto;
    box-shadow: $shadow;

    img {
        margin-top: 0.5rem;
        @include sizes1 (2rem, 2rem)
    }

    p {
        a {
            text-decoration: none;
            color: $c1;
        }
    }
}

.block {
    display: block;
}

// estilos de remeras
.bodyRemera {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.titleRemeras {
    margin: 8rem auto 4rem auto;
    color: $c1;
}

.card {
    background-color: $c4;
    color: $c2;
    text-align: center;
}

span {
    color: $c1;
    font-weight: bold;
}

.product {
    @extend %flexRow;
    margin: 5% auto 5% auto;
}

.footerRemeras {
    background-color: $c4;
    color: $c2;
    padding: 5%;
}

.subFooter-remeras {
    color: $c1;
}

.footerImg {
    img {
        @include sizes1 (50px, 50px)
    }
}

// estilos de abrigos
.bodyAbrigos {
    @extend %grid2;
}

.headerAbrigos {
    grid-area: header;
}

.mainAbrigos {
    grid-area: main;
    @include flex (flex, column);
}

.footerAbrigos {
    grid-area: footer;
}

h3 {
    text-align: start;
    color: $c2;
    margin: 2rem auto 2rem 2rem;
}

// estilos de newin
.bodyNewin {
    @extend %grid2;
}

.headerNewin {
    grid-area: header;
}

.mainNewin {
    grid-area: main;
}

.footerNewin {
    grid-area: footer;
}

@import "base/mediaq";


