@import "base/vars";
@import "base/mixins";
@import "base/extends";

//  reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// estilos de body
body {
    background-image: url(../img/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: $c1;   
}

// estilos de header
header {
    width: 100vw;
    grid-area: header;
    position: fixed;
    z-index: 2;
    background-color: $c4;
}

// estilos de footer
footer {
    @extend %flexCol;
    margin-top: 20%;
    grid-area: footer;
    background-color: $c4;
    color: $c2;   

    img {
        @include sizes1 (50px, 50px);  
    }

}

.footerTop {
    @extend %flexCol;
    align-items: center;
    text-align: center;
    margin: 3% auto 15% auto;

    h2 {
        color: $c1;
    }

    form {
        label {
            @extend %flexRow;
            
            input {
                width: 19rem;
            }
        }
    }
}

.botonSus {
    background-color: $c3;
    @extend %borderButton;
    @include sizes1 (5rem, 2em);
    color: $c2;
}

.footerBottom {
    p {
        margin-left: 1rem;
        width: $fullw - 30vw;
    }
}

.imgFooter {
    margin-top: 2rem;
    @extend %flexRow;
}

/* estilos de Index */
.bodyIndex {
    @extend %grid1;
}

.headerIndex {
    grid-area: header;
}

.mainIndex {
    grid-area: main;
    @include flex (flex, column);
}

.footerIndex {
    grid-area: footer;
}

/* estilos de main - index */

.portada {
    width: 100vw;
    @extend %flexRow;
}

.portadaDesk {
    display: none;
}

.portadaMob {
    @extend %flexRow;
    @include sizes1(90%, 65%);
    margin-top: 3rem;
    filter: brightness(80%);
}

.titleMainIndex {
    text-align: center;
    margin: 0.5rem auto 4rem auto;    
}

.titleMain {
    text-align: center;
    margin: 4rem auto 4rem auto;
}

h1 {
    font-weight: bold;
    border-top: 1px solid $c1;
    border-bottom: 1px solid $c1;
}

.containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 0.5rem auto 0.5rem;
}

.containerCarousel {
    @include flex (flex, column);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ancho {
    width: 18rem;
}



// .imgcarousel {
//     @include sizes1 (30vw, 30vh);
// }

.boxCarousel {
    text-align: center;
    margin: auto 0.5rem 2rem 2.5rem;
    display: inline-block;
    border: 1px solid $c1;
    border-radius: 1rem;

    img {
        @include sizes1 (13rem, 13rem);
        border: 1px solid $c4;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    form {
        input {
            color: $c4;
        }
    }
}


.textCarousel {
    @extend %flexCol;
    @include sizes1 (13rem, 9rem);
    // border: $border1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $c4;
    color: $c2;
    text-align: center;

    form {
        input {
            background-color: $c3;
            @extend %borderButton;
            @include sizes1 (5rem, 2rem);
            color: $c2;
        }
    }
}

.containerDes {
    display: none;
}

.boxDestacados {
    text-align: center;
    margin: auto 0.5rem 2rem 0.5rem;
    border: 1px solid $c1;
    border-radius: 1rem;

    img {
        @include sizes1 (8rem, 8rem);
        border: 2px solid $c4;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

}

.textBox {
    @extend %flexCol;
    @include sizes1 (8rem, 8rem);
    border: $border1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $c4;
    color: $c2;
    text-align: center;

    p{
        span{
            font-size: 0.8rem;
        }
    }

    form {
        label {
            font-size: 0.8rem;
        }

        input {
            background-color: $c3;
            @extend %borderButton;
            @include sizes1 (3.5rem, 1.5rem);
            color: $c2;
            font-size: 0.7rem;
        }
    }
}

.titleBox {
    font-size: 0.8rem;
    font-weight: bold;
    @extend %flexRow;
    text-align: center;
    color: $c2;
}

.newinh2 {
    text-align: center;
    margin: 6rem auto 4rem auto;
    font-weight: bold;

    a {
        text-decoration: none;
        border: 1px solid $c1;
        background-color: $c4;
        box-shadow: $shadow;
        color: $c1;
    }

    a:hover {
        color: $c2;
    }
}

.anchor {
    a{
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: $c1;

        p {
            border: $border1;
            box-shadow: $shadow;
            text-align: center;
            margin: auto 0.1rem auto 0.1rem;
            background-color: $c4;
            border: 1px solid $c1
        }

        img {
            @include sizes1 (8rem, 8rem);
            border: $border1;
        }

        img:hover {
            filter: brightness(50%);
        }
    }    
}

.anchorTop {
    @extend %flexRow;
}

.anchorBottom {
    @extend %flexRow; 
}

.banner {
    @extend %flexRow;

    img {
        @include sizes1(85%, 55%);
        margin-top: 6rem;
        filter: brightness(80%);
    }
}

.contentMain {
    @include flex (flex, column)
}

// estilo de calzas
.bodyContainer {
    @extend %grid1;
}

.headerCalzas {
    grid-area: header;
}

.mainCalzas {
    grid-area: main;
    @include flex (flex, column);
}

.footerCalzas {
    grid-area: footer;
}

.order {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-right: 0.2rem;
}

// estilos de tops
.bodyTops {
    @extend %grid1;
}

.headerTops {
    grid-area: header;
}

.mainTops {
    grid-area: main;
    @include flex (flex, column);
}

.footerTops {
    grid-area: footer;
}

// estilos de remeras
.bodyRemeras {
    @extend %grid1;
}

.headerRemeras {
    grid-area: header;
}

.mainRemeras {
    grid-area: main;
    @include flex (flex, column);
}

.footerRemeras{
    grid-area: footer;
}

// estilo de contacto
.bodyContacto {
    @extend %grid1;
}

.headerContacto {
    grid-area: header;
}

.mainContacto {
    grid-area: main;
}

.footerContacto {
    grid-area: footer;
}

.textMain {
    color: $c2;
    text-align: center;
    margin: auto 1rem 4rem 1rem;
}

.textBoxContacto {
    border: 1px solid $c1;
    @include sizes1 (9rem, 15rem);
    padding: 1rem;
    background-color: $c4;
    color: $c2;
    @extend %flexCol;
    align-items: center;
    text-align: center;
    margin: 1rem auto 1rem auto;
    box-shadow: $shadow;

    img {
        margin-top: 0.5rem;
        @include sizes1 (2rem, 2rem)
    }

    p {
        a {
            text-decoration: none;
            color: $c1;
        }
    }
}

.block {
    display: block;
}

// estilos de remeras
.bodyRemera {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

span {
    color: $c1;
    font-weight: bold;
}

.footerRemeras {
    background-color: $c4;
    color: $c2;
    padding: 5%;
}


.footerImg {
    img {
        @include sizes1 (50px, 50px)
    }
}

// estilos de abrigos
.bodyAbrigos {
    @extend %grid2;
}

.headerAbrigos {
    grid-area: header;
}

.mainAbrigos {
    grid-area: main;
    @include flex (flex, column);
}

.footerAbrigos {
    grid-area: footer;
}

h3 {
    text-align: start;
    color: $c2;
    margin: 2rem auto 2rem 2rem;
}

// estilos de newin
.bodyNewin {
    @extend %grid2;
}

.headerNewin {
    grid-area: header;
}

.mainNewin {
    grid-area: main;
}

.footerNewin {
    grid-area: footer;
}

@import "base/mediaq";


