// extends

// grids
%grid1 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
    grid-gap: 4rem;
}

%grid2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-gap: 4rem;
}

// flexs
%flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%flexRow {
    display: flex;
    justify-content: center;
}

// borders
%borderButton {
    border: 1px solid black;
    border-radius: 10%;
}

// measures & sizes
%sizes2 {
    width: 9rem;
    height: 12rem;
}