// MEDIA QUERIES

// MEDIA QUERIES PARA TABLET
@media screen and (min-width:600px) {
    
    /* ESTILOS DE MAIN */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    /* MQ DE FOOTER */
    .footerTop {
        margin-bottom: 1.5rem;
    }

    /* MQ DE INDEX */
    .portadaMob {
        display: none;
    }

    .portadaDesk {
        display: block;
        @include sizes1(100%, 80%);
        margin: 3rem 3% auto 3%;
        filter: brightness(90%);
    }
    
    .titleMainIndex {
         margin-top: 4rem;
    }
    .containerCarousel {
        display: none;
    }

    .containerDes {
        @include flex (flex, row);
        justify-content: space-around;
        flex-wrap: wrap
    }

    .boxDestacados {
        img {
            @include sizes1 (12rem, 12rem);
        }
    }

    .textBox {
        @include sizes1 (12rem,11rem);
        font-size: 1rem;

        p{
            span {
                font-size: 1rem;
            }
        }
        form {
            input {
                @include sizes1 (4rem, 1rem);
                font-size: 1rem;
            }
        }
    }

    .titleBox {
        font-size: 1.2rem;
    }

    .anchor {
        a {
            img {
                @include sizes1 (15rem, 15rem)
            }
        }
    }

    .textBox{
        form {
            input {
                @include sizes1 (8rem, 3rem)
            }
        }

   
    }

    // MQ DE CALZAS
    .order {        
        margin-right: 2rem
    }
}

// MEDIA QUERIES PARA DESKPOT
@media screen and (min-width:992px) {

    // MQ DE INDEX
    .boxDestacados {
        img {
            @include sizes1 (18rem, 18rem)
        }
    }

    .textBox {
        width: 18rem;
    }

    .anchor {
        a {
            img {
                @include sizes1 (20rem, 20rem)
            }
        }
    }

    // MQ DE CONTACTO

    .textBoxContacto {
        @include  sizes1 (17rem, 14rem)
    }

    .block {
        display: inline;
    }
}